/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-color: #000000;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0; /* Ensure no default margin/padding */
  padding: 0; /* Ensure no default margin/padding */
  box-sizing: border-box; /* Ensure box sizing is consistent */
}
